.container
  %h1.center-title= 'Listing Todos'

  %table.table
    %thead.table-info
      %tr
        %th{scope: 'col'}= 'Id'
        %th{scope: 'col'}= 'Title'
        %th{scope: 'col'}= 'Description'
        %th{scope: 'col', colspan: 2}
    %tbody
      - @todos.each do |todo|
        %tr
          %th{scope: 'row'}= todo.id
          %td= todo.title
          %td= todo.text

  %button_tag{type: 'button', class: 'btn btn-outline-info'}= link_to 'New todo', new_todo_path

  / Button trigger modal
  %button.btn.btn-primary{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
    Launch demo modal
  / Modal
  #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %h5#exampleModalLabel.modal-title Modal title
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          \...
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
          %button.btn.btn-primary{:type => "button"} Save changes
